<!DOCTYPE html>
<div class="w-screen h-10 bg-blue-300 shadow flex items-center"
  <%= button_to "TRELLIS", landing_path, method: :get, class: "hover:bg-gray-400" %>
</div>
<div class="flex items-center h-screen w-screen pt-10">
  <div class="bg-gray-100 rounded-lg shadow w-fit">
    <p>hello world!</p>
  </div>
</div>
