<!DOCTYPE html>
<div class="flex items-center justify-center h-screen w-screen bg-slate-900">
  <!-- Navbar -->
  <%= render "shared/navbar" %>
  <!-- Main Content -->
  <div
    class="
      bg-gray-800 rounded-lg shadow w-fit border border-white text-white p-30
    "
  >
    <%= turbo_frame_tag "landing_main_content" do %>
      <div class="border border-red-900">
        <p>
          turbo_frame_tag: Landing_main_content
        </p>
      </div>
    <% end %>
  </div>
</div>
